---
import { Image } from 'astro:assets';
import { LOCALES } from '../../constants';
import { useTranslation } from '../../i18n';
import MainLayout from '../../layouts/MainLayout.astro';

export function getStaticPaths() {
  return LOCALES.map(locale => ({ params: { locale } }));
}

const { locale } = Astro.params;
const t = useTranslation(locale);
---

<MainLayout locale={locale}>
  <h1>{t.about.title}</h1>
  <Image src={t.about.image} width={300} height={300} alt='about-image' />
  <p>{t.about.body}</p>
</MainLayout>
