@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

h1,
p {
  text-align: center;
}

nav {
  padding: 32px;
  margin-left: auto;
}

main {
  margin: 0 auto;
  max-width: 968px;
}

img {
  width: 300px;
  display: block;
  place-self: center;
  padding-block: 32px;
}

footer {
  padding: 32px;
  background-color: black;

  a {
    color: white;
  }
}
