@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

h1,
p {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  place-self: center;
  object-fit: cover;
}

nav {
  padding: 32px;
  display: flex;
  justify-content: center;
  gap: 32px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

main {
  overflow-y: auto;
  margin: 0 auto;
  width: 720px;
  max-width: calc(100% - 2em);
  padding: 3em 1em;
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

article {
  width: calc(50% - 1rem);
}

footer {
  padding: 32px;
  display: flex;
  gap: 32px;
  background: linear-gradient(var(--gray-gradient)) no-repeat;

  a {
    color: rgb(var(--gray));
  }
}
