---
import { languages, type Languages } from '../i18n';

interface Props {
  locale: Languages;
}

const { locale } = Astro.props;
const currentPath = Astro.url.pathname;
---

<footer>
  {
    Object.entries(languages).map(([language, label]) => {
      return <a href={currentPath.replace(locale, language)}>{label}</a>;
    })
  }
</footer>
